/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    background: linear-gradient(135deg, #8ee2cd 0%, #53c9ab 100%);
    color: #333;
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: #212529;
    color: #ffffff;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.3s, background-color 0.3s;
}

.main-header a {
    color: #ffffff;
    text-decoration: none;
    padding: 12px 20px;
    margin: 0 5px;
    font-weight: bold;
    display: inline-block;
    border-radius: 4px;
}

.main-header a:hover {
    background-color: #53c9ab;
    color: #fff;
}

.container {
    padding-top: 80px;
}

.section-title {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 20px;
}

hr {
    border-top: 2px solid #53c9ab;
    margin-bottom: 30px;
}

.lead {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #000000;
}

.text-muted {
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

#mode-toggle {
    background-color: #53c9ab;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#mode-toggle:hover {
    background-color: #238a70;
}

/* Iconos de redes sociales */
.whatsapp-icono {
    position: fixed;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: animacionNos 2s infinite;
    display: block;
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: 20px;
    background-color: #25d366;
}

.whatsapp-icono img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.instagram-icono {
    position: fixed;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: animacionNos 2s infinite;
    display: block;
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: 90px;
    background-color: #5851DB;
}

.instagram-icono img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Estilos del footer */
.footer {
    background-color: #ffffff;
    color: #000000;
}

.footer a {
    color: #000000;
}

.footer .oscurecer a {
    color: #fff;
}

.oscurecer a:hover {
    color: rgb(0, 0, 0);
}

/* Estilos específicos de la página de contacto */
.contact-form {
    background: linear-gradient(135deg, #ffffff 0%, #ffffff 100%);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 1rem;
    color: #333;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #999;
}

.contact-form button {
    background-color: #53c9ab;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #53c9ab;
}

/* Scripts de interacción */
.hidden {
    top: -80px;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Modo oscuro */
body.dark-mode {
    background: linear-gradient(135deg, #2c3e50 0%, #4ca1af 100%);
    color: #f8f9fa;
}

.dark-mode hr {
    border-top: 2px solid #1a252f;
}

/* Modo oscuro para enlaces en el header */
.dark-mode .main-header a:hover {
    background-color: #2c3e50;
    color: #fff;
}

/* Estilos del botón de modo oscuro/claro */
.dark-mode #mode-toggle {
    background-color: #3b3f4a;
}

.dark-mode #mode-toggle:hover {
    background-color: #2c3e51;
}

/* Estilos de la página de contacto en modo oscuro */
.dark-mode .contact-form {
    background: linear-gradient(135deg, #474747 0%, #050505 100%);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.dark-mode .contact-form input,
.dark-mode .contact-form textarea {
    background-color: #555;
    color: white;
    border: 1px solid #ccc;
}

.dark-mode .contact-form button {
    background-color: #2c3e50;
}

.dark-mode .lead {
    color: #fff;
}

.dark-mode .text-muted {
    color: #fff;
}

.dark-mode .footer {
    background-color: #333333;
    color: #ffffff;
}

.dark-mode .footer a {
    color: #ffffff;
}

.dark-mode .footer .oscurecer a:hover {
    color: rgb(0, 0, 0);
}

.dark-mode .footer .titulos {
    color: #fff;
}

.dark-mode .footer .derechos {
    color: #929292;
}

/* UBICACION */
#map { 
    height: 1000px; 
    width: 100%;
}
.leaflet-control-zoom {
    top: 600px; /* Ajusta la distancia desde el borde superior */
    position: absolute;
    z-index: 1000;
}
/* UBICACION */

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
    .paginas {
        display: none;
    }
}